@import '../../styles/breakpoints.scss';

.employee-card {
  &__profile {
    height: 100vh;
    color: #050510;
    background-color: #ffffff;
    box-shadow: 0 4px 8px #0000001a;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 65px;
    margin-bottom: 6px;
    background-color: #f7f7f8;

    @include for-large {
      margin-bottom: 8px;
      padding-top: 55px;
    }
  }

  &__data {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 16px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #444444;
  }
}

.info {
  &__avatar {
    width: 104px;
    height: 104px;
    margin-bottom: 24px;
    border-radius: 50%;
    object-fit: contain;
  }

  &__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 12px;
  }

  &__tag {
    font-size: 17px;
    line-height: 22px;
    color: #97979b;
    margin-left: 4px;
  }

  &__position {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 24px;
    color: #55555c;
  }
}

.birthdate {
  &__age {
    margin-left: auto;
    margin-right: 24px;
    color: #97979b;
  }
}

.back-icon {
  align-self: flex-start;
  margin-left: 21px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include for-large {
    margin-left: 32px;
  }
}

.star-icon {
  margin-right: 20px;
}

.phone-icon {
  margin-right: 18px;
}
