@import '../../common/scss/breakpoints.scss';
@import '../../common/scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8px;

  &__title {
    display: none;

    @include for-large {
      display: block;
      height: 48px;
      padding: 5px 0 12px 24px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      color: $main-text-color;
    }
  }
}
