@import '../../styles/variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  &__image {
    margin-bottom: 8px;
  }

  &__info {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    color: $main-text-color;
    margin-bottom: 12px;
  }

  &__fixing {
    font-size: 16px;
    line-height: 20px;
    color: $gray-text-color;
    margin-bottom: 12px;
  }

  &__reload {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #6534ff;
    background-color: transparent;
    border: none;
  }
}
