@import '../../styles/breakpoints.scss';

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
    z-index: 1000;
  }

  &__header {
    display: flex;
    align-items: center;
    height: 52px;
    margin-bottom: 8px;

    @include for-large {
      margin-bottom: 16px;
    }
  }

  &__content {
    position: relative;
    top: 10vh;
    width: 90%;
    height: 80vh;
    padding: 15px 24px 0;
    color: #050510;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px #0000001a;

    @include for-large {
      position: static;
      width: 373px;
      height: 184px;
      padding: 0 16px;
    }

    &_back-icon {
      cursor: pointer;

      @include for-large {
        display: none;
      }
    }

    &_close-icon {
      display: none;

      @include for-large {
        display: block;
        color: #c3c3c6;
        cursor: pointer;
      }
    }
  }

  &__title {
    flex: 1;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
  }

  &__options {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.modal__options label {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.modal__options input[type='radio'] {
  margin-right: 10px;
}
