$main-text-color: #050510;
$dark-gray-text-color: #55555c;
$gray-text-color: #97979b;
$light-gray-text-color: #c3c3c6;
$violet-color: #6534ff;
$green-color: #28a745;
$white-color: #ffffff;
$background-light-color: #f7f7f8;
