@import '../../styles/breakpoints.scss';

.search-bar {
  display: flex;
  align-items: center;
  width: 343px;
  height: 40px;
  padding: 8px 12px;
  margin: 0 0 19px 16px;
  background-color: #f7f7f8;
  border-radius: 20px;
  box-shadow: 0 2px 4px #0000001a;

  @include for-large {
    width: 100%;
    padding-right: 28px;
  }

  &__burger-menu {
    cursor: pointer;
  }
}

.search-bar i {
  color: #b0b0b0;
  margin-right: 8px;
  cursor: pointer;
}

.search-bar input {
  flex: 1;
  padding: 0 8px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #050510;
  background-color: transparent;
  border: none;
  outline: none;
}

.fas.fa-times {
  cursor: pointer;
}
