@import '../../styles/breakpoints.scss';
@import '../../styles/variables.scss';

.search-bar {
  display: flex;
  align-items: center;
  width: 343px;
  height: 40px;
  padding: 8px 12px;
  margin: 0 0 19px 16px;
  background-color: $background-light-color;
  border-radius: 20px;

  @include for-large {
    width: 100%;
    padding-right: 28px;
  }

  &__burger-menu {
    cursor: pointer;
  }
}

.search-bar i {
  color: #b0b0b0;
  margin-right: 8px;
  cursor: pointer;
}

.search-bar input {
  flex: 1;
  padding: 0 8px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: $main-text-color;
  background-color: transparent;
  border: none;
  outline: none;
}
