@import './common/scss/breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root {
  max-width: 375px;
  margin: 0 auto;
  font-size: 16px;

  @include for-large {
    max-width: 1280px;
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 39px;

  @include for-large {
    padding-top: 12px;
  }
}
